.simulation-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--spacing-panel);
  gap: var(--spacing-5);
}

.panel-title {
  font-size: var(--font-size-2);
  font-weight: bold;
  color: var(--primary-dim-foreground);
  margin-block: var(--spacing-2);
}
