.panel-layout {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: grid;
  grid-template-columns: 1fr 1.5fr 500px;
  background-color: var(--primary-background);
}

.panel-layout > div {
  border: var(--primary-solid-border);
}
