.accordion {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.item-trigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-4);
  width: 100%;

  color: var(--secondary-foreground);
  background-color: var(--secondary-background);
  border-radius: var(--border-radius);
  border: var(--secondary-solid-border);

  flex-grow: 1;
  text-align: left;
  font-size: 1rem;
  color: inherit;
  padding: var(--spacing-4);
  margin: 0;
  cursor: pointer;

  & > svg {
    transition-duration: var(--transition-fast);
  }

  &[data-state="open"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    & > svg {
      transform: rotate(180deg);
    }
  }
}

.item-content {
  color: var(--secondary-foreground);
  background-color: var(--secondary-background);
  border: var(--secondary-solid-border);
  border-top: none;
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: var(--spacing-3);
  overflow: hidden;
  height: auto;

  &[data-state="open"] {
    animation: fold-open var(--transition-fast) ease;
  }

  &[data-state="closed"] {
    animation: fold-close var(--transition-fast) ease;
  }
}

@keyframes fold-open {
  from {
    height: 0;
    padding-block: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes fold-close {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
    padding-block: 0;
  }
}
