.property-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  padding: var(--spacing-1);
}

.property {
  container-type: inline-size;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.property-name {
  text-align: start;
  font-size: var(--font-size-1);
  width: 60%;
  padding-inline-end: var(--spacing-5);

  @container (width > 400px) {
    text-align: end;
    width: 40%;
  }
}

/* See the comment in BooleanProperty.tsx for more about this. */
.aside-property {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: start;
  margin: 0;
  padding: 0;

  & .property-name {
    order: 2;
    flex-grow: 1;
    padding-inline-end: 0;
    padding-inline-start: var(--spacing-5);
  }
}

.property-input {
  flex-grow: 1;
  width: 0;
  padding: var(--spacing-2);
  background-color: var(--input-background);
  border: var(--input-solid-border);
  border-radius: var(--border-radius);
  transition-duration: var(--transition-fast);
}

/* used for stuff like slider where you this is the secondary form of input */
.secondary {
  flex-grow: 0.25;
  margin-inline-end: var(--spacing-4);
}

.property-input:focus {
  border: 1px solid var(--primary-accent);
  outline: var(--input-solid-border-focused);
}

/* Checkbox */

.checkbox-root {
  display: flex;
  place-items: center;
  justify-content: center;
  padding: 0;
  height: 20px;
  width: 20px;
  background-color: var(--input-background);
  border: var(--input-solid-border);
  border-radius: var(--border-radius);
  transition-duration: var(--transition-fast);
  cursor: pointer;

  &[data-state="checked"] {
    color: var(--primary-foreground);
    background-color: var(--primary-accent);
    border-color: var(--primary-accent);
  }
}

.checkbox-indicator {
  pointer-events: none;
  display: flex;
  padding: 0;
  margin: 0;
}

/* Slider */

.slider-root {
  display: flex;
  flex-grow: 1;
  align-items: center;
  position: relative;
  user-select: none;
  touch-action: none;
  height: 15px;
}

.slider-track {
  position: relative;
  background-color: var(--input-background);
  border: var(--input-solid-border);
  border-radius: 9999px;
  height: var(--size-1);
  flex-grow: 1;
  cursor: pointer;
}

.slider-range {
  position: absolute;
  background-color: var(--primary-accent);
  border-radius: 9999px;
  height: 100%;
  cursor: pointer;
}

.slider-thumb {
  display: block;
  width: var(--size-2);
  height: var(--size-2);
  background-color: var(--primary-foreground);
  border-radius: 10px;
  cursor: pointer;
}

/* Color Picker */

.color-button {
  cursor: pointer;
  border: var(--input-solid-border);
  align-self: stretch;
  border-radius: var(--border-radius);
  width: 0;
}

.color-popup {
  background-color: var(--tertiary-background);
  border: var(--tertiary-solid-border);
  padding: var(--spacing-4);
  margin: var(--spacing-3);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-1);

  animation-duration: var(--transition-fast);
  &[data-state="open"][data-side="top"] {
    animation-name: slideDownAndFade;
  }
  &[data-state="open"][data-side="bottom"] {
    animation-name: slideUpAndFade;
  }
}

.color-popup :global(.react-colorful) {
  height: 140px;
}

.color-popup :global(.react-colorful__saturation) {
  cursor: pointer;
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-4);
}

.color-popup :global(.react-colorful__hue) {
  cursor: pointer;
  border-radius: var(--border-radius);
  height: 12px;
}

.color-popup :global(.react-colorful__saturation-pointer) {
  width: 20px;
  height: 20px;
}

.color-popup :global(.react-colorful__hue-pointer) {
  width: 20px;
  height: 20px;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Select */

.select-trigger {
  display: flex;
  background-color: var(--input-background);
  border: var(--input-solid-border);
  border-radius: var(--border-radius);
  justify-content: space-between;
  cursor: pointer;
}

.select-trigger-icon {
  display: flex;
  align-items: center;
  line-height: 0;
}

.select-content {
  background-color: var(--tertiary-background);
  border: var(--tertiary-solid-border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-1);
  padding: var(--spacing-4);
}

.select-label {
  color: var(--tertiary-foreground-dim);
  font-size: var(--font-size-1);
  padding: var(--spacing-2);
}

.select-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  font-size: var(--font-size-1);
  padding: var(--spacing-2);
  border-radius: var(--border-radius);
  cursor: pointer;
  &[data-highlighted] {
    color: var(--primary-foreground);
    background-color: var(--primary-accent);
  }
}

.select-item-indicator {
  display: flex;
  align-items: center;
  line-height: 0;
}

.select-scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
