:root {
  color-scheme: light dark;
  box-sizing: border-box;

  font-size: 14px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */

  --primary-accent: #0786db;
  --primary-accent-foreground: #f0f2f5;

  --primary-background: #101112;
  --primary-foreground: #f2f5f7;
  --primary-dim-foreground: #f2f5f7af;
  --primary-border: #212226;
  --primary-solid-border: 1px solid var(--primary-border);

  --secondary-background: #252729;
  --secondary-foreground: #f0f3f5;
  --secondary-border: #43444d;
  --secondary-solid-border: 1px solid var(--secondary-border);

  --tertiary-background: #38393b;
  --tertiary-foreground: #ebeef0;
  --tertiary-border: #56575c;
  --tertiary-solid-border: 1px solid var(--tertiary-border);

  --input-background: #1f2021;
  --input-foreground: var(--secondary-foreground);
  --input-border: #494a4c;
  --input-solid-border: 1px solid var(--input-border);
  --input-solid-border-focused: 1px solid var(--primary-accent);

  /* Sizing */
  --size-1: 8px;
  --size-2: 16px;
  --size-3: 24px;
  --size-4: 30px;
  --size-5: 36px;
  --size-6: 48px;
  --size-7: 52px;

  --font-size-1: 0.9rem;
  --font-size-2: 1rem;
  --font-size-3: 1.1rem;

  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 6px;
  --spacing-4: 8px;
  --spacing-5: 12px;
  --spacing-panel: 10px;

  --border-radius: 3px;
  --border-radius-large: 6px;

  /* Misc. */
  --transition-fast: 0.1s;

  --shadow-1: 0px 10px 25px -15px rgba(0, 0, 0, 0.5);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
