:root {
  color-scheme: light dark;
  box-sizing: border-box;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --primary-background: #101112;
  --primary-foreground: #f2f5f7;
  --primary-border: #212226;
  --primary-solid-border: 1px solid var(--primary-border);

  --primary-accent: #0785d9;
  --primary-accent-foreground: #e1e3e6;

  --secondary-background: #252729;
  --secondary-foreground: #dee1e3;
  --secondary-border: #383940;
  --secondary-solid-border: 1px solid var(--secondary-border);

  /* Sizing */
  --size-1: 12px;
  --size-2: 16px;
  --size-3: 32px;
  --size-4: 48px;
  --size-6: 64px;

  --spacing-1: 2px;
  --spacing-2: 3px;
  --spacing-3: 6px;
  --spacing-4: 8px;
  --spacing-5: 14px;
  --spacing-panel: 10px;

  --border-radius: 3px;
  --border-radius-large: 6px;

  /* Misc. */
  --transition-fast: 0.1s;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
